<div class="container">
    <div class="row">
      <div class="col-8">
        <div class="bg-gris p-4">
          <div class="row">
            <div class="col-4">
              <input
              [(ngModel)]="prenom"
                aria-label="Prénom"
                class="form-control"
                placeholder="Prénom"
                value ="Jean"
              />
            </div>
            <div class="col-4">
              <input
              [(ngModel)]="nom"
                aria-label="Nom"
                class="form-control"
                placeholder="Nom"
                value ="DUJARDIN"
              />
            </div>
            <div class="col-1">
              <button class="btn btn-primary" (click)="onModifier()">
                <i class="fa fa-floppy-disk"></i>
              </button>
            </div>
          </div>
        </div>
       </div>

       </div> 
       <div class="row">
        <div class="col-4">

         
       
      
      </div>
      
      <!-- col4 -->
    </div>
    <!-- row -->
  </div>