<div class="container">
		<div class="row">
			<div class="col-4">

				<h2>Les Appareils</h2>

<form (ngSubmit)="onAjouter(a)" #a="ngForm">
  <input type="text" class="form-control my-3" name="nom" ngModel>
  <button class="btn btn-success m-3" type="submit">
    <i class="fa fa-plus"></i>
  </button>
</form>
<ul class="list-group">
  <app-appareil 
  *ngFor="let appareil of appareils;index as indice"
  [appareil]="appareil"
  [indice]="indice"
  ></app-appareil>

</ul>

			<br>
			<button (click)="onSwitch(true)" class="btn btn-success me-3">ALL ON</button>

			<button  (click)="onSwitch(false)" class="ml-2 btn btn-danger">ALL OFF</button>
		</div>
	</div>
</div>



